
$color1: #FCFCFC;
$color2: hsl(0, 0%, 18%);
$color1Transparent: hsla(0, 0%, 99%, 0.5);
$color2Transparent: hsla(0, 0%, 18%, 0.5);


@font-face {
  font-family: 'FuturaBQ';
  src: url('assets/fonts/FuturaBQ-BoldOutline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



body {
  overflow:hidden;
  font-family: 'FuturaBQ', sans-serif;
}

.view {
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

  @media (max-width: 1200px) {
    .view {
      flex-direction: column;
      justify-content: space-between;
      margin-bottom: 10%;
    }
  }

.logo {
  position:absolute;
  top: 20px;
  left: 20px;
  color: $color1;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  font-size: 24pt;
  display: flex;
  z-index: 2;
}

.language {
  position: absolute;
  top: 20px;
  right: 20px;
  color: $color1;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  font-size: 24pt;
  display: flex;
  z-index: 2;
  width: 10%;
  justify-content: space-between;
}

@media (max-width: 1200px) {
    .language {
      flex-direction: column;
      display: none;
    }
  }

.language a {
  border-bottom: 1px solid transparent;
  transition: border 0.5s ease-in;
  
}

.language a:hover {
  border-bottom: 1px solid $color1;
  transition: border 0.5s ease-in;

}

// .left,
// .right {
//   bottom:0;
//   overflow:hidden;
//   position:absolute;
//   top:0;
// }

// .left { 
//   left:-15%;  
//   right:45%;  
//   transition: right 0.4s ease-in;
// }


// .right {
//   left:50%;
//   right:-15%;
//   transition: left 0.4s ease-in;
// }

// .leftbg,
// .rightbg {
//   bottom:-15%;
//   left:-15%;
//   position:absolute;
//   right:-5%;
//   top:-5%;
// }

// .leftbg {
//   background: $color1Transparent;
//   background-position:center center;
//   background-size:cover;
//   color: $color2Transparent;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   user-select: none;
//   flex-direction: column;
// }

// .leftbg a {
//   color: $color2;
// }

// .rightbg {
//   background: $color1Transparent;
//   background-position:center center;
//   background-size:cover;
//   color: $color2;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   user-select: none;
//   flex-direction: column;
// }

// .rightbg a {
//   color: $color2;
// }

// .hidden {
//   //display: none;
//   opacity: 0;
// }

// .leftexpanded {
//   right: -15%;
// }

// .rightexpanded {
//   left: -15%;
// }

.left,
.right {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color1;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.left, a {
  text-decoration: none;
  color: $color1;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  text-align: center;

}

.right, a {
  text-decoration: none;
  color: $color1;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
  text-align: center;
}

.front {
  z-index: 1;
}

.title {
  font-size: 24pt;
  border-bottom: 1px transparent solid;
  transition: border 0.5s ease-in;
}

.title:hover {
  //border-bottom: 1px $color1 solid;
  cursor: pointer;
}

.righttitle:hover {
  //border-bottom: 1px $color1 solid;
  cursor: pointer;

}

.left:hover {
  cursor: pointer;
}

.right:hover {
  cursor: pointer;
}


.description {
  font-size: 16pt;
  opacity: 0;
  transition: opacity 0.3s ease-in;
}

.rightbg:hover .rightdesc {
  opacity: 1;
}

.leftbg:hover .leftdesc {
  opacity: 1;
}