
$color1: #FCFCFC;
$color2: #2F2F2F;


@font-face {
  font-family: 'FuturaBQ';
  src: url('assets/fonts/FuturaBQ-BoldOutline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}



body {
  overflow:hidden;
  font-family: 'FuturaBQ', sans-serif;
}

.view {
  bottom:0;
  left:0;
  position:absolute;
  right:0;
  top:0;
  transform:skew(-15deg);
}

.logo {
  position:absolute;
  top: 20px;
  transform:skew(15deg);
  color: $color1;
  font-size: 24pt;
  display: flex;
  z-index: 2;
}

.inverse-colors {
  color: $color2;
  z-index: 4;
}

.logoalt {
  position:absolute;
  top: 20px;
  transform:skew(15deg);
  color: $color2;
  font-size: 24pt;
  display: flex;
  z-index: 3;
}



.left,
.right {
  bottom:0;
  overflow:hidden;
  position:absolute;
  top:0;
}

.left { 
  left:-15%;  
  right:45%;  
  transition: right 0.4s ease-in;
}


.right {
  left:50%;
  right:-15%;
  transition: left 0.4s ease-in;
}

.leftbg,
.rightbg {
  bottom:-15%;
  left:-15%;
  position:absolute;
  right:-5%;
  top:-5%;
  transform:skew(15deg);
}

.leftbg {
  background: $color2;
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/71829/sun.jpg); */
  background-position:center center;
  background-size:cover;
  color: $color1;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.leftbg a {
  color: $color1;
}

.rightbg {
  background: $color1;
  /* background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/71829/moon.jpg); */
  background-position:center center;
  background-size:cover;
  color: $color2;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;

}

.rightbg a {
  color: $color2;
}

.hidden {
  display: none;
}

.leftexpanded {
  right: -15%;
}

.rightexpanded {
  left: -15%;
}

.front {
  z-index: 1;
}

.title {
  font-size: 24pt;
  margin-top: -160px;
  transition: top 2s ease-in;
}

.titleexpanded {
  margin-top: -320px;
}

.description {
  font-size: 16pt;
}