<div class="rts-faq-area rts-section-gap faq-bg-one bg_image">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="faq-main-wrapper-content-inner-four">
                    <div class="title-style-four center">
                        <span class="pre">{{ .Params.process.pre }}</span>
                        <h2 class="title rts-text-anime-style-1">{{ .Params.process.title | safeHTML }}</h2>
                    </div>
                    <div class="accordion mt--40" id="accordionExample">
                        {{ range $index, $step := .Params.process.steps }}
                        <div class="accordion-item">
                            <h2 class="accordion-header">
                                <button class="accordion-button{{ if ne $index 0 }} collapsed{{ end }}" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapse{{ $index }}" aria-expanded="{{ if eq $index 0 }}true{{ else }}false{{ end }}" aria-controls="collapse{{ $index }}"
                                    data-faq-image="{{ printf "assets/images/faq/%s/%s" $.Language.Lang $step.image | relURL }}">
                                    {{ $step.title }}
                                </button>
                            </h2>
                            <div id="collapse{{ $index }}" class="accordion-collapse collapse{{ if eq $index 0 }} show{{ end }}"
                                data-bs-parent="#accordionExample">
                                <div class="accordion-body">
                                    {{ $step.description }}
                                </div>
                            </div>
                        </div>
                        {{ end }}
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="thumbnail-faq-four">
                    {{ with (index .Params.process.steps 0) }}
                    <img id="faq-image" src="{{ printf "assets/images/faq/%s/%s" $.Language.Lang .image | relURL }}" alt="Process step">
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</div>