{{/* Footer - matches your existing HTML structure */}}

<div class="rts-footer-area footer-three rts-section-gapTop footer-bg-2">
    <div class="container pb--100 pb_sm--40">
        <div class="row g-5">
            <div class="col-xl-8 col-lg-6">
                <div class="row">
                    <!-- footer left -->
                    <div class="col-lg-6">
                        <div class="footer-one-single-wized">
                            <div class="wized-title">
                                <img src="{{ "assets/images/logo7.svg" | relURL }}" alt="{{ .Site.Title }}">
                            </div>
                            <p class="disc footerdesc">
                                <b>Salzmann B. Media Solution</b> <br>
                                <b>KVK Number:</b> 97936634 <br>
                                <b>BTW:</b> NL005296632B65 <br>
                            </p>
                        </div>
                    </div>
                    <!-- footer right -->
                    <div class="col-lg-6">
                        <!-- Additional footer content can go here -->
                    </div>
                </div>
            </div>
            <!-- footer social -->
            <div class="col-xl-4 col-lg-6">
                <div class="footer-three-single-wized right">
                    <a href="{{ .Site.Home.RelPermalink }}" class="logo_footer"></a>
                    <ul class="social-three-wrapper">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Progress/scroll to top -->
<div class="progress-wrap">
    <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98"
            style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 307.919;">
        </path>
    </svg>
</div>
